<script type="text/javascript">
  let dogs = []
  dogsList = document.getElementsByClassName("dogs")
  fetch("http://localhost:3000/api/dogs")
    .then(res => res.json())
    .then(res => {
      addDogs(res.dogs)
    }).then(dogs => addDogs(dogs))

  function addDogs(dogs) {
    dogs.forEach(addDog);
  }

  function addDog(dog) {
    const $li = document.createElement("li");
    $li.innerHTML = `
            <h3 class="name"><a href="/dogs/${dog.id}">${dog.name}</a></h3>
            <img class="profile-picture" src="/${dog.profilePicture}" alt="${dog.name}" />
        `
    document.querySelector(".dogs").appendChild($li);
  }
</script>

<ul class="dogs"></ul>
<a class="add" href="/dogs/new">Add a Dog</a>
