

<ul class="dogs">

  <li>
    <h3 class="name">name</h3>
    <a href="dog/{{ id }}">name</a>
    <img class="profile-picture "src="images/bixby.jpg" alt="{{ name }}">
  </li>


</ul>

<a href="new-dog" class="add"></a>
